/* HR Style Sheet */

.Navigation-Button-Holder-50pc
{
  float: left;
  width: 50%;
}

.Navigation-Button-Holder
{
  float: left;
  width: 33%;
}

  .Navigation-Button
  {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 100px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:1px solid #BAB3B3;
    background-color:#E6E6E6;
  }

    .Navigation-Button-Title
    {
      width: 125px;
      position: relative;
      top: 60px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-weight: bold;
    }
    
    .Nav-Link
    {
      display: block;
      height: 100%;
      width: 100%;
      text-decoration: none;
    }
 
.New-Profile-Step {
  display: none;
}
  
.Form-Table {
  
}

  .Form-Table th, .Form-Table td {
    font-size: 12px;
  }