/* CSS file for the Telesales report */

.subDetails
{
    display: none;
}

.allTelesales
{
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    
    background: none;

    margin: 0px;
    padding: 0px;
    
}

    .allTelesales li
    {
        background: none;
        margin: 0px;
        padding: 0px;
        cursor: pointer;
    }
    
        .allTelesales ul
        {
            clear: both;
            height: 30px;
            padding: 0px;
            margin: 2px 0px;
            
        }
        
        .allTelesales ul.titles
        {
            background-color: #DDDDDD;
            font-weight: bold;
        }
        .allTelesales ul.alt1, .allTelesales ul.alt1 li.subDetails
        {
            background-color: #F5F5F5;
        }
        .allTelesales ul.alt2, .allTelesales ul.alt2 li.subDetails
        {
            background-color: #EEEEEE;
        }
        
            .allTelesales ul li
            {
                float: left;
                line-height: 24px;
                padding: 3px 0px;
                width: 16%;
                text-align: center;
            }
            
            .allTelesales ul li:first-child
            {
                font-weight: bold;
                text-align: left;
                width: 20%;
            }                
                .allTelesales ul li.subDetails
                {
                    box-sizing: border-box;
                    padding: 0px;
                    margin-bottom: 5px;
                    
                    width: 100%;
                    
                    border-radius: 0px 0px 8px 8px;
                    box-shadow: 0px 1px 1px #CCCCCC;
                }
                
                    .allTelesales ul li.subDetails ul li
                    {
                        width: 100%;
                    }
                    
                        .allTelesales ul li.subDetails ul li ul li
                        {
                            margin: 0px;
                            padding: 0px;
                            line-height: 24px;
                            width: 11%;
                            overflow: hidden;
                            
                            padding: 3px 0px;
                        }
                        
                        .allTelesales ul li.subDetails ul li ul li:first-child
                        {
                            width: 12%;
                        }
                    
                        
                                
                
                
                
                
                
                